{% load staticfiles %}

<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <title>Classification: CZ4034 Information Retrieval (Group 43)</title>
</head>

<body style="background:#DCDCDC">

<div class="container">
    <ul class="nav nav-pills nav-justified ">
        <li role="presentation"><a href="/">Search</a></li>
        <li role="presentation"><a href="/crawl/">Crawl</a></li>
        <li role="presentation" class="active"><a href="/classification/">Classification</a></li>
    </ul>
</div>

<div class="col-xs-12" style="height:80px;"></div>

<div class="container-fluid" id="img_row">
    <img src="{% static 'img/The_New_York_Times_logo.png' %}" class="img-responsive center-block" width="50%">
</div>

<div class="col-xs-12" style="height:80px;"></div>
<form action="/classification/" method="get" name="classifyForm" id="classifyForm">
    <div class="container">
        <div class="row">
            <div class="input-group col-md-6 center-block">
                <input type="text" class="form-control" id="headline" name="headline" placeholder="Enter Headline..." aria-describedby="basic-addon1">
            </div>
        </div>
    </div>

    <div class="col-xs-12" style="height:20px;"></div>

    <div class="container">
        <div class="row">
            <div class="input-group col-md-6 center-block">
                <input type="text" class="form-control" id="keywords" name="keywords" placeholder="Enter Keyword..." aria-describedby="basic-addon2">
            </div>
        </div>
    </div>

    <div class="col-xs-12" style="height:20px;"></div>

    <div class="container">
        <div class="row">
            <div class="input-group col-md-6 center-block">
                <input type="text" class="form-control" id="content" name="content" placeholder="Enter Main Content..." aria-describedby="basic-addon3">
            </div>
        </div>
    </div>

    <div class="col-xs-12" style="height:20px;"></div>

    <div class="container col-md-5"></div>
    <div class="container col-md-1">
        <div class="btn btn-primary btn-md" href="/results/" role="button" onclick="document.forms['classifyForm'].submit()">Classify</div>
    </div>
    <div class="container col-md-1">
        <div class="btn btn-danger btn-md" id="ClearAll" role="button">Clear All</div>
    </div>

    <div class="col-xs-12" style="height:80px;"></div>

    <script>
        $("#ClearAll").click(function(){
            $("#Input1").val('');
            $("#Input2").val('');
            $("#Input3").val('');
        });
    </script>
</form>

</body>

</html>