{% load staticfiles %}

<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static 'img/favicon.png' %}" type="image/png" sizes="16x16">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <title>Classification: CZ4034 Information Retrieval (Group 43)</title>
</head>

<body style="background:#DCDCDC">

<div class="container">
    <ul class="nav nav-pills nav-justified ">
        <li role="presentation"><a href="/">Search</a></li>
        <li role="presentation"><a href="/crawl/">Crawl</a></li>
        <li role="presentation" class="active"><a href="#">Classification</a></li>
    </ul>
</div>

<div class="col-xs-12" style="height:80px;"></div>

<div class="container-fluid" id="img_row">
    <a href="/">
        <img src="{% static 'img/The_New_York_Times_logo.png' %}" class="img-responsive center-block" width="50%">
    </a>
</div>

<div class="col-xs-12" style="height:80px;"></div>
<form action="/classification/" method="get" name="classifyForm" id="classifyForm">
    <div class="container">
        <div class="row">
            <div class="input-group col-md-6 center-block">
                <input type="text" class="form-control" id="headline" name="headline" placeholder="Enter Headline..."
                       aria-describedby="basic-addon1">
            </div>
        </div>
    </div>

    <div class="col-xs-12" style="height:20px;"></div>

    <div class="container">
        <div class="row">
            <div class="input-group col-md-6 center-block">
                <input type="text" class="form-control" id="keywords" name="keywords" placeholder="Enter Keyword..."
                       aria-describedby="basic-addon2">
            </div>
        </div>
    </div>

    <div class="col-xs-12" style="height:20px;"></div>

    <div class="container">
        <div class="row">
            <div class="input-group col-md-6 center-block">
                <textarea class="form-control" id="content" name="content" placeholder="Enter Main Content..."
                          aria-describedby="basic-addon3" rows="10" style="resize: none"></textarea>
            </div>
        </div>
    </div>

    <div class="col-xs-12" style="height:20px;"></div>
    <div class="col-md-12">
        <div class="container col-md-4"></div>
        <div class="container col-md-2">
            <center>
                <input type="submit" class="btn btn-primary btn-md" value="Classify" style="width: 135px;">
            </center>
        </div>
        <div class="container col-md-2">
            <center>
                <input type="button" class="btn btn-danger btn-md" onclick="reset();ShowHide();" value="Clear"
                       style="width: 135px;">
            </center>
        </div>
        <div class="container col-md-4"></div>
    </div>
    <div class="container col-md-12" style="height:20px;"></div>
    <div class="container col-md-4"></div>
    <div class="container col-md-4">
        <center>
            <input type="button" class="btn btn-success btn-md" value="Show Statistics" style="width: 357px;"
                   id="showModalStats">
        </center>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modalClass" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header" style="padding:35px 50px;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4><span class="glyphicon glyphicon-pencil"></span> Classified</h4>
                </div>
                <div class="modal-body" style="padding:40px 50px;">
                    <b><i>Headline</i></b><br>
                    <p align="justify">{{ headline }}</p>
                    <br><br>

                    <b><i>Keywords</i></b><br>
                    <p align="justify">{{ keywords }}</p>
                    <br><br>

                    <b><i>Content</i></b><br>
                    <p align="justify">{{ content }}</p>
                    <br><br>

                    <b><i>Classified as</i></b><br>
                    <p align="justify">{{ classified.0 }}</p>
                    <br>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span
                            class="glyphicon glyphicon-remove"></span> Close
                    </button>
                </div>
            </div>

        </div>
    </div>

    <!-- Stats modal -->
    <div class="modal fade" id="modalStats" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header" style="padding:35px 50px;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4><span class="glyphicon glyphicon-stats"></span> Statistics</h4>
                </div>
                <div class="modal-body" style="padding:40px 50px;">
                    <table class="table table-hover">
                        <tr style="text-align: center; font-weight: bold">
                            <td style="font-weight: normal;"><b>Classifier</b><br>Vectorizer</td>
                            <td>Travel (25)</td>
                            <td>Dining (25)</td>
                            <td>Politics (25)</td>
                            <td>Precision</td>
                            <td>Recall</td>
                            <td>Accuracy</td>
                            <td>F(1) Score</td>
                            <td>F(W) Score</td>
                        </tr>
                        {% for stat in stats %}
                            <tr style="text-align: center">
                                <td style="border-right: 1px #dcdcdc; text-align: left">
                                    <b>{{ stat.0 }}</b><br>{{ stat.1 }}</td>
                                <td>{{ stat.2 }}</td>
                                <td>{{ stat.3 }}</td>
                                <td>{{ stat.4 }}</td>
                                <td>{{ stat.5 }}</td>
                                <td>{{ stat.6 }}</td>
                                <td>{{ stat.7 }}</td>
                                <td>{{ stat.8 }}</td>
                                <td>{{ stat.9 }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span
                            class="glyphicon glyphicon-remove"></span> Close
                    </button>
                </div>
            </div>

        </div>
    </div>

    <div class="col-xs-12" style="height:80px;"></div>
</form>

<script>
    $(document).ready(function () {
        $("#showModalStats").click(function () {
            $("#modalStats").modal();
        });
        var classified = "{{ classified }}";
        if (classified.length != 0)
            $("#modalClass").modal();
    });
</script>

</body>

</html>